# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Databases
*.db
*.sqlite3
sqlite.db

# VS Code
.vscode/

# Datasets (if they are large)
# dataset/
